<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/templates/template-top.xhtml">

	<ui:param name="renderBreadCrumb" value="false" />

	<ui:define name="title">
		<h2 class="align-center">
			Welcome to the <span class="text-aqua"> <i><a
					href="https://github.com/adminfaces/admin-starter" target="_blank"
					style="text-transform: none; text-decoration: none"> AdminFaces
						Starter</a></i></span> Project! <br /> <small>Integrating <p:link
					value="Primefaces" href="http://primefaces.org" />, <p:link
					value="Bootstrap" href="http://getbootstrap.com/" /> and <p:link
					value="Admin LTE"
					href="https://almsaeedstudio.com/themes/AdminLTE/index2.html/" />
				into your <p:link value="JSF"
					href="https://javaserverfaces.java.net/" /> application.
			</small>
		</h2>

	</ui:define>


</ui:composition>
