<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
        A page title
    </ui:define>

	<ui:define name="description">
        A page description
    </ui:define>

	<ui:define name="body">
		<h2>Page body</h2>
	</ui:define>

</ui:composition>